
body {
  font-family: 'Montserrat';
}

p {
  font-weight: lighter;
  color: grey;
}

/* Title section */
#title {
  color: white;
  background-color: #ff4c68;
  padding: 50px 250px;
}

.navbar-brand {
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: 1.2rem;
}

.title-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.container {
  padding-top: 60px;
}

.iphone-img {
  width: 60%;
  padding-left: 40px;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Features Section */
#features {
  padding: 7% 15%;
 background-color: #fff;
 position: relative;
 z-index: 1;
}

.download-btn {
  margin: 2%;
}

.feature-box {
  text-align: center;
  margin: 0 auto;
  padding: 5%;
}

.icon {
  color: #FF4C68;
  padding-bottom: 1rem;
}

.icon:hover {
  color: #EF8172;
}

/* testimonial section */
#testimonials {
  padding: 7%;
  background-color: #FF4C68;
  color: #fff;
  text-align: center;
}

.testimonial-img {
  width: 200px;
  border-radius: 50%;
  margin: 20px;
}

#press {
  background-color: #FF4C68;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */

#pricing {
  text-align: center;
  padding: 100px;
}

.section-heading {
  line-height: 1.5;
  font-size: 3rem;
}

/* cta section */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 20%;
  color: #fff;
}

.cta-heading {
  font-size: 3rem;
}

#footer {
  text-align: center;
  padding: 7% 15%;
}

.footer-icon {
  padding: 0 10px;
}


@media (max-width:990px) {
  .iphone-img {
    position: static;
    transform: rotate(0deg);
}

#title {
  text-align: center;
}
}
